/*------------------------------ fonts css ----------------------------*/

/*------------------------------ general css ----------------------------*/
html, body {
	/*width:100%;
	margin:0;
	padding:0;
	height:100%*/
}
body {
	/*width:100%;
	display:table;*/
}
/*------------------------------ header css ----------------------------*/
header.masthead {
    background-image: url('../img/background.jpg');
}
header .mask {
	background-color: #000000;
	opacity: .6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
header.masthead .intro-text {
	z-index: 99999;
}
/*------------------------------ admin css ----------------------------*/

/*------------------------------ form css ----------------------------*/





/*------------------------------ footer css ----------------------------*/

/*------------------------------ home css ----------------------------*/
